html
  head
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title= "Página principal"
    link(rel="stylesheet" type="text/css" media="screen" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.css")
  body
    section(class="hero is-bold is-danger is-fullheight")
      div(class="hero-body")
        div(class="container")
          h1(class="title")= message
          
    